##Archivo de configuracion para proc_obs_MODEMAT.py
##Escrito por DAVID VILLACIS (david@villacis.net)
##Centro de Modelacion Matematica MODEMAT-EPN Quito-Ecuador
##http://www.modemat.epn.edu.ec

[BUSQUEDA_ESTACION]
busqueda_por_estacion: False
codigo_estacion_metar: SEST
codigo_estacion_synop: 84001
codigo_estacion_temp: 84008

[FUENTE_DE_DATOS]
data_estado: Ecua
data_iord: yes
data_tipo: ALL
data_orden: DIR
data_incluir_nulo: SI
data_formato: html
data_ano_inicio: 2015
data_mes_inicio: 10
data_dia_inicio: 15
data_ano_fin: 2015
data_mes_fin: 10
data_dia_fin: 21
data_url_metar: http://ogimet.com/ultimos_metars.php
data_url_synops: http://ogimet.com/display_synopsc2.php
data_url_upr: http://ogimet.com/display_sondc.php

[IO]
nombre_metar: newdata2.met
nombre_synop: newdata2.syn
nombre_temp: newdata2.upr